<% const urlStoreEncode=encodeURI(process.env.URL_STORE); %> <% const urlAuth=process.env.URL_AUTH +
'/sign-up' ; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>

        <title>Insa - Nền tảng quản lý và bán hàng đa kênh</title>
    </head>

    <body class="ecom">
        <%- include('../partials/header.ejs') %>
        <div class="py-3">
            <div class="container xl:max-w-7xl mx-auto px-5">
                <span class="font-bold uppercase text-gray-800"> Insa Shopee </span>
            </div>
        </div>
        <main class="main">
            <!-- home hero -->
            <div class="home-hero padding-header bg-gray-100">
                <div class="home-hero_inner">
                    <div class="container xl:max-w-7xl mx-auto px-5">
                        <div class="flex py-4 lg:py-20">
                            <div class="md:w-4/6 flex items-center">
                                <div class="home-hero_content text-center md:text-left">
                                    <h2>
                                        Một website chuyên nghiệp sẽ giúp ích cho công việc kinh
                                        doanh như thế nào?
                                    </h2>
                                    <div class="grid my-6 gap-2">
                                        <p>
                                            Bán hàng trên các trang thương mại điện tử là hình thức
                                            kinh doanh mang lại nhiều cơ hội và lợi nhuận, nhất là
                                            khi người tiêu dùng có xu hướng mua sắm online nhiều
                                            hơn. Hãy để INSA E-COM giúp bạn kinh doanh hiệu quả và
                                            đạt mục tiêu doanh số một cách dễ dàng hơn.
                                        </p>
                                    </div>

                                    <div class="block md:flex">
                                        <a
                                            href="<%= urlAuth %>"
                                            class="btn btn-trial block mb-2 md:mb-0 md:mr-5"
                                        >
                                            <div class="flex items-center">
                                                <span class="inline-block text-left flex-1 px-5">
                                                    <b class="font-medium">Dùng thử</b><br />
                                                    <span class="font-light">Miễn phí 30 ngày</span>
                                                </span>
                                                <span
                                                    class="
                                                        arrow
                                                        flex
                                                        items-center
                                                        justify-center
                                                        border-l border-gray-300
                                                    "
                                                >
                                                    <img src="images/arrow-light.png" alt="" />
                                                </span>
                                            </div>
                                        </a>

                                        <a href="/bao-gia" class="btn btn-buy block">
                                            <div class="flex items-center text-center">
                                                <span class="inline-block flex-1 px-5">
                                                    <b class="font-semibold">Mua ngay</b>
                                                </span>
                                                <span
                                                    class="
                                                        arrow
                                                        flex
                                                        items-center
                                                        justify-center
                                                        border-l border-gray-100
                                                    "
                                                >
                                                    <img src="images/arrow-blue.png" alt="" />
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end home hero  -->

            <div class="py-10 md:py-20">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/ecom1.jpg"
                                alt=" Nghiên cứu thị trường"
                            />
                        </div>
                        <div>
                            <div>
                                <h3 class="text-3xl">Nghiên cứu thị trường</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Tổng hợp sản phẩm, gian hàng nổi bật, giúp bạn nghiên cứu thị
                                    trường, đối thủ dễ dàng và xây dựng định hướng cho gian hàng của
                                    mình.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20 bg-gray-100">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0 md:order-2">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/ecom2.jpg"
                                alt="Đồng bộ sản phẩm"
                            />
                        </div>
                        <div class="md:order-1">
                            <div>
                                <h3 class="text-3xl">Đồng bộ sản phẩm</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Dễ dàng kéo thả, sao chép, thay đổi thông tin sản phẩm, quản lý
                                    kho hàng chính xác và đẩy sản phẩm lên top tự động trên gian
                                    hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/ecom3.jpg"
                                alt="Đồng bộ đơn hàng"
                            />
                        </div>
                        <div>
                            <div>
                                <h3 class="text-3xl">Đồng bộ đơn hàng</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Quản lý nhiều shop cùng lúc mà không cần chuyển tài khoản, hỗ
                                    trợ tạo đơn hàng, kiểm soát đơn hàng toàn
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20 bg-gray-100">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0 md:order-2">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/ecom4.jpg"
                                alt="Lưu trữ thông tin khách hàng"
                            />
                        </div>
                        <div class="md:order-1">
                            <div>
                                <h3 class="text-3xl">Lưu trữ thông tin khách hàng</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Lưu thông tin khách hàng ngay tại khung chat, gắn thẻ và phân
                                    luồng để chăm sóc khách hàng một cách hiệu quả.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/ecom5.jpg"
                                alt="Gửi tin nhắn marketing"
                            />
                        </div>
                        <div>
                            <div>
                                <h3 class="text-3xl">Gửi tin nhắn marketing</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Dễ dàng tạo, phân loại và lưu tệp khách hàng, gửi tin nhắn
                                    marketing tự động theo từng danh sách khách hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20 bg-gray-100">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0 md:order-2">
                            <img
                                class="block max-w-full mx-auto md:mx-0"
                                src="images/ecom6.jpg"
                                alt="Báo cáo chi tiết"
                            />
                        </div>
                        <div class="md:order-1">
                            <div>
                                <h3 class="text-3xl">Báo cáo chi tiết</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Tổng hợp đầy đủ lượt tương tác, số lượng đơn hàng, doanh thu
                                    theo thời gian để cải thiện hiệu quả kinh doanh.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-16">
                <!-- question -->
                <%- include('../partials/question.ejs') %>

                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="mx-auto max-w-2xl">
                        <div class="text-center pt-12 border-t border-gray-200">
                            <h5 class="text-4xl">Câu hỏi thường gặp</h5>
                        </div>

                        <div class="questions border-b border-gray-200 mt-8">
                            <% questions.forEach(function(question, index) { %>
                            <div class="question">
                                <div
                                    class="
                                        question-title
                                        border-t border-gray-200
                                        py-4
                                        cursor-pointer
                                    "
                                    data-answer="<%= question.answer%>"
                                >
                                    <%= index + 1 %>. <%= question.title%>
                                    <span class="question-title-arrow"></span>
                                </div>

                                <div class="py-4 answer border-t border-gray-200 font-light"></div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
