<% const urlStoreEncode=encodeURI(process.env.URL_STORE); %> <% const urlAuth=process.env.URL_AUTH +
'/sign-up' ; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>

        <title>Insa - Nền tảng quản lý và bán hàng đa kênh</title>
    </head>
    <body class="home">
        <%- include('../partials/header.ejs'), {user: user} %>
        <main class="main">
            <!-- home hero -->
            <div class="home-hero padding-header bg-gray-100">
                <div class="home-hero_inner">
                    <div class="container xl:max-w-7xl mx-auto px-5">
                        <div class="row flex">
                            <div class="col-md-6 flex-1 flex items-center">
                                <div class="home-hero_content text-center md:text-left">
                                    <h2>
                                        Nền tảng quản lý và<br class="hidden md:block" />
                                        bán hàng đa kênh INSA
                                    </h2>
                                    <p class="mb-6 mt-3">
                                        Nền tảng duy nhất mà bạn có thể quản lý kinh doanh hiệu
                                        quá.<br class="hidden md:block" />
                                        Tất cả nằm trong tầm tay với INSA
                                    </p>

                                    <div class="block md:flex">
                                        <a
                                            href="<%= urlAuth %>"
                                            class="btn btn-trial block mb-2 md:mb-0 md:mr-5"
                                        >
                                            <div class="flex items-center">
                                                <span class="inline-block text-left flex-1 px-5">
                                                    <b class="font-medium">Dùng thử</b><br />
                                                    <span class="font-light">Miễn phí 30 ngày</span>
                                                </span>
                                                <span
                                                    class="
                                                        arrow
                                                        flex
                                                        items-center
                                                        justify-center
                                                        border-l border-gray-300
                                                    "
                                                >
                                                    <img src="/images/arrow-light.png" alt="" />
                                                </span>
                                            </div>
                                        </a>

                                        <a href="/bao-gia" class="btn btn-buy block">
                                            <div class="flex items-center text-center">
                                                <span class="inline-block flex-1 px-5">
                                                    <b class="font-semibold">Mua ngay</b>
                                                </span>
                                                <span
                                                    class="
                                                        arrow
                                                        flex
                                                        items-center
                                                        justify-center
                                                        border-l border-gray-100
                                                    "
                                                >
                                                    <img src="/images/arrow-blue.png" alt="" />
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden lg:block lg:flex-1">
                                <div class="img hidden lg:block lg:transform lg:translate-x-20">
                                    <img
                                        src="/images/hero-image.png"
                                        alt="Nền tảng quản lý và bán hàng đa kênh"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end home hero  -->

            <!-- home-product -->
            <div class="home-section home-product py-20">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="home-title mb-12">
                        <span> Sản phẩm </span>
                    </div>

                    <div class="grid products md:grid-cols-2 lg:grid-cols-3 gap-8 xl:gap-10">
                        <% products.forEach(function(product) { %>
                        <div
                            href="<%= product.href %>"
                            class="block product border border-gray-100 p-6 lg:p-7 xl:p-8"
                        >
                            <div class="heading">
                                <div class="flex items-center">
                                    <div class="icon mr-5">
                                        <img src="<%= product.logo%>" alt="<%= product.title%>" />
                                    </div>
                                </div>
                            </div>
                            <h5 class="product_title font-medium my-4">
                                <a href="<%= product.href %>"> <%= product.title%> </a>
                            </h5>
                            <p class="product_content font-light"><%= product.description%></p>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <!-- end home-solution -->

            <!-- home partners -->
            <div class="partners">
                <div class="container xl:max-w-7xl mx-auto text-center lg:px-20">
                    <div class="grid grid-cols-2 py-5 md:py-0 md:grid-cols-4 gap-3 md:gap-10">
                        <div class="partner px-5 py-1 md:py-10 flex items-center justify-center">
                            <a>
                                <img src="images/gco-logo.svg" alt="Gco group" />
                            </a>
                        </div>
                        <div class="partner px-5 py-5 md:py-10 flex items-center justify-center">
                            <a>
                                <img
                                    src="images/facebook-logo.svg"
                                    alt="Facebook"
                                    style="height: 22px"
                                />
                            </a>
                        </div>
                        <div class="partner px-5 py-5 md:py-10 flex items-center justify-center">
                            <a>
                                <img
                                    src="images/google-logo.svg"
                                    alt="Google"
                                    style="height: 30px"
                                />
                            </a>
                        </div>
                        <div class="partner px-5 py-5 md:py-10 flex items-center justify-center">
                            <a>
                                <img src="images/shopee-logo.svg" alt="Shopee" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end home partners -->

            <!-- home story  -->
            <div class="home-story py-20">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="testimonial-slider">
                        <div>
                            <div class="md:grid grid-cols-7 gap-12 mb-4">
                                <div class="col-span-2">
                                    <div class="font-medium text-sm uppercase mb-3 text-color-main">
                                        Câu chuyện thành công
                                    </div>
                                    <div>
                                        <h3 class="font-medium text-2xl mb-4">
                                            Hợp tác cùng Insa – Đồng hành cùng doanh nghiệp chinh
                                            phục thương trường
                                        </h3>
                                        <p class="font-light hidden md:block mb-2">
                                            Là công ty hoạt động trong lĩnh vực làm đẹp và chăm sóc
                                            sức khỏe, chuyên bán sỉ; lẻ; phân phối đại lý các sản
                                            phẩm hóa mỹ phẩm nhập khẩu. BEHE Việt Nam luôn chú trọng
                                            đến việc xây dựng hình ảnh Tin Cậy – An Toàn – Chất
                                            Lượng trong mắt khách hàng.
                                        </p>
                                        <p class="font-light hidden md:block">
                                            BEHE Việt Nam sau khi tham khảo thị trường phần mềm hỗ
                                            trợ kinh doanh Online & Offline thì đã tin tưởng và
                                            quyết định chọn Phần Mềm hỗ trợ bán hàng đa kênh Insa để
                                            đồng thành trên con đường kinh doanh thành công của
                                            mình.
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="
                                        col-span-3
                                        md:border-r md:border-l
                                        border-gray-200
                                        md:px-12
                                    "
                                >
                                    <div class="testimonial-item pb-3">
                                        <div class="testimonial-item__image mb-4">
                                            <div class="block w-full bg-cover bg-no-repeat mb-5">
                                                <img
                                                    src="/images/behe.png"
                                                    alt=""
                                                    class="block w-full"
                                                />
                                            </div>

                                            <div class="font-light italic mb-4">
                                                “Việc sử dụng một hệ sinh thái bán hàng đa kênh, bao
                                                gồm các giải pháp quản lý kinh doanh trên Facebook –
                                                Livestream, chatbot,…; sàn thương mại điện tử
                                                Shopee; website bán hàng, hệ thống cửa hàng Offline.
                                                Insa không chỉ giúp chúng tôi tối ưu được chi phí,
                                                đem lại doanh số cao hơn mong đợi, mà còn giúp tăng
                                                trải nghiệm cho khách của chúng tôi với sự phục vụ
                                                nhanh chóng và chuyên nghiệp nhất. Điều này vô cùng
                                                giá trị cho tầm nhìn và sứ mệnh hoạt động của BEHE
                                                Việt Nam trong việc chinh phục sự hài lòng của khách
                                                hàng.”
                                            </div>

                                            <div class="testimonial-item__user">
                                                <div class="font-medium">Ông Nguyễn Ngọc Duy</div>
                                                <span class="text-sm"
                                                    >Giám đốc marketing BEHE Việt Nam</span
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-span-2">
                                    <div class="statistical text-center flex-1">
                                        <div
                                            class="
                                                hidden
                                                md:block
                                                statistical-title
                                                text-sm
                                                uppercase
                                                font-medium
                                                mb-4
                                            "
                                        >
                                            Thống kê
                                        </div>

                                        <div class="grid md:block grid-cols-2">
                                            <div
                                                class="
                                                    statistical-item
                                                    md:border-b
                                                    border-gray-100
                                                    py-5
                                                "
                                            >
                                                <div
                                                    class="
                                                        statistical-item-title
                                                        uppercase
                                                        text-sm
                                                        mb-3
                                                    "
                                                >
                                                    Doanh số
                                                </div>
                                                <span class="font-medium text-4xl">150%</span>
                                            </div>

                                            <div
                                                class="border-l md:border-l-0 border-gray-100 py-5"
                                            >
                                                <div
                                                    class="
                                                        statistical-item-title
                                                        uppercase
                                                        text-sm
                                                        mb-3
                                                    "
                                                >
                                                    Tiết kiệm chi phí
                                                </div>
                                                <span class="font-medium text-4xl">30%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end home story  -->

            <!-- home news -->
            <div class="home-section home-news py-20">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="home-title mb-10">
                        <span>Khám phá</span>
                    </div>

                    <div class="home-section-content home-news-content -mx-5">
                        <div class="news_slider">
                            <% posts.posts.forEach(function(post) { %>
                            <div>
                                <div class="news-card px-5 pb-5">
                                    <div class="img mb-3">
                                        <% if (post.featuredImage) { %>
                                        <a href="/kham-pha<%= post.uri %>" class="block w-full">
                                            <img
                                                src="<%- post.featuredImage.node.sourceUrl%>"
                                                alt=""
                                            />
                                        </a>

                                        <%} else { %>
                                        <a
                                            href="/kham-pha<%= post.uri %>"
                                            class="block w-full"
                                            style="padding-bottom: 75%; background-color: aliceblue"
                                        >
                                        </a>
                                        <% } %>
                                    </div>

                                    <h5 class="text-lg">
                                        <a href="/kham-pha<%- post.uri %>"> <%- post.title %> </a>
                                    </h5>
                                </div>
                            </div>

                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            <!--end  home news -->
        </main>

        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
