<% const urlStoreEncode=encodeURI(process.env.URL_STORE); %> <% const urlAuth=process.env.URL_AUTH +
'/sign-up' ; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>

        <title>Insa - Nền tảng quản lý và bán hàng đa kênh</title>
    </head>

    <body class="social">
        <%- include('../partials/header.ejs') %>
        <div class="py-3">
            <div class="container xl:max-w-7xl mx-auto px-5">
                <span class="font-bold uppercase text-gray-800"> Insa Facebook </span>
            </div>
        </div>
        <main class="main">
            <!-- home hero -->
            <div class="home-hero padding-header bg-gray-100">
                <div class="home-hero_inner">
                    <div class="container xl:max-w-7xl mx-auto px-5">
                        <div class="flex py-4 lg:py-20">
                            <div class="md:w-2/3 flex items-center">
                                <div class="home-hero_content text-center md:text-left">
                                    <h2>Bán hàng trên mạng xã hội chưa bao giờ dễ dàng đến thế.</h2>
                                    <p class="mb-6 mt-3 max-w-xl">
                                        Phần mềm hỗ trợ quản lý bán hàng trên Facebook. Giúp chủ
                                        shop quản lý nhiều page, tổng hợp comment, inbox, ẩn bình
                                        luận, trả lời nhanh, gắn tag hội thoại.
                                    </p>

                                    <div class="block md:flex">
                                        <a
                                            href="<%= urlAuth %>"
                                            class="btn btn-trial block mb-2 md:mb-0 md:mr-5"
                                        >
                                            <div class="flex items-center">
                                                <span class="inline-block text-left flex-1 px-5">
                                                    <b class="font-medium">Dùng thử</b><br />
                                                    <span class="font-light">Miễn phí 30 ngày</span>
                                                </span>
                                                <span
                                                    class="
                                                        arrow
                                                        flex
                                                        items-center
                                                        justify-center
                                                        border-l border-gray-300
                                                    "
                                                >
                                                    <img src="images/arrow-light.png" alt="" />
                                                </span>
                                            </div>
                                        </a>

                                        <a href="/bao-gia" class="btn btn-buy block">
                                            <div class="flex items-center text-center">
                                                <span class="inline-block flex-1 px-5">
                                                    <b class="font-semibold">Mua ngay</b>
                                                </span>
                                                <span
                                                    class="
                                                        arrow
                                                        flex
                                                        items-center
                                                        justify-center
                                                        border-l border-gray-100
                                                    "
                                                >
                                                    <img src="images/arrow-blue.png" alt="" />
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end home hero  -->

            <div class="py-10 md:py-20">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/facebook1.jpg"
                                alt="Quản lý nhiều trang cùng lúc"
                            />
                        </div>
                        <div>
                            <div>
                                <h3 class="text-3xl">Quản lý nhiều trang cùng lúc</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Giúp nhà bán hàng tiết kiệm thời gian, công sức và kiểm soát đầu
                                    việc hiệu quả hơn.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20 bg-gray-100">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0 md:order-2">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/facebook2.jpg"
                                alt="Tối ưu giao tiếp với khách hàng"
                            />
                        </div>
                        <div class="md:order-1">
                            <div>
                                <h3 class="text-3xl">Tối ưu giao tiếp với khách hàng</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Ẩn bình luận tự động, phân loại hội thoại dễ dàng, gửi tin nhắn
                                    hàng loạt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/facebook3.jpg"
                                alt="Tạo đơn ngay từ khung chat"
                            />
                        </div>
                        <div>
                            <div>
                                <h3 class="text-3xl">Tạo đơn ngay từ khung chat</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Đơn hàng được tạo ngay từ thông tin khách gửi, đảm bảo tốc độ và
                                    tính chính xác.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20 bg-gray-100">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0 md:order-2">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/facebook4.jpg"
                                alt="Quản lý sản phẩm, đơn hàng chặt chẽ"
                            />
                        </div>
                        <div class="md:order-1">
                            <div>
                                <h3 class="text-3xl">Quản lý sản phẩm, đơn hàng chặt chẽ</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Lưu và cập nhật kho hàng theo tình hình kinh doanh thực tế.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/facebook5.jpg"
                                alt="Liên kết vận chuyển nhanh chóng"
                            />
                        </div>
                        <div>
                            <div>
                                <h3 class="text-3xl">Liên kết vận chuyển nhanh chóng</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Cho phép chọn đối tác vận chuyển, so sánh chi phí giao hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-10 md:py-20 bg-gray-100">
                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="md:grid md:grid-cols-2 md:items-center md:gap-20">
                        <div class="mb-5 md:mb-0 md:order-2">
                            <img
                                class="block w-full mx-auto md:mx-0"
                                src="images/facebook6.jpg"
                                alt="Báo cáo hiệu quả chi tiết"
                            />
                        </div>
                        <div class="md:order-1">
                            <div>
                                <h3 class="text-3xl">Báo cáo hiệu quả chi tiết</h3>
                                <p class="font-light text-gray-600 my-4 max-w-xs">
                                    Cung cấp số liệu về lượt tương tác, số đơn hàng, doanh thu theo
                                    sản phẩm và thời gian.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-16">
                <!-- question -->

                <%- include('../partials/question.ejs') %>

                <div class="container xl:max-w-7xl mx-auto px-5">
                    <div class="mx-auto max-w-2xl">
                        <div class="text-center pt-12 border-t border-gray-200">
                            <h5 class="text-4xl">Câu hỏi thường gặp</h5>
                        </div>

                        <div class="questions border-b border-gray-200 mt-8">
                            <% questions.forEach(function(question, index) { %>
                            <div class="question">
                                <div
                                    class="
                                        question-title
                                        border-t border-gray-200
                                        py-4
                                        cursor-pointer
                                    "
                                    data-answer="<%= question.answer%>"
                                >
                                    <%= index + 1 %>. <%= question.title%>
                                    <span class="question-title-arrow"></span>
                                </div>

                                <div class="py-4 answer border-t border-gray-200 font-light"></div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
